line {
    stroke-width:0.3;    
}

.hour_line {
    stroke:#000000;
}

.min10_line {
    stroke:#a18cfc;
}

.min30_line {
    stroke:#0105e0;
}

.station_line {
    stroke:#000000;
}

.station_noserv_line {
    stroke:#bfbfbf;
}

path {
	stroke-linecap: round;
    stroke-width:2.5;
    fill:none
}

.taroko {
    stroke:#20b2aa;
}

.puyuma {
    stroke:#ff0000;
}

.tze_chiang {
    stroke:#ffa500;
}

.tze_chiang_diesel {
    stroke:#ffd700;
}

.emu1200{
    stroke:#ff008c;
}

.emu300{
    stroke:#ff4444;
}

.emu3000{
    stroke:#000000;
}

.chu_kuang {
    stroke:#FAAB82;
}

.local {
    stroke:#0000ff;
}

.fu_hsing {
    stroke:#00bfff;
}

.ordinary {
    stroke:#ff1493;
}

.special {
    stroke:#ff1493;
}