line {
    stroke-width:0.3;
    
}

.hour_line {
    stroke:#000000;
}

.min10_line {
    stroke:#a18cfc;
}

.min30_line {
    stroke:#0105e0;
}

.station_line {
    stroke:#000000;
}

.station_noserv_line {
    stroke:#bfbfbf;
}

path {
    stroke-width:2.0;
    fill:none
}

.taroko {
    stroke:#a6a6a6;
}

.puyuma {
    stroke:#ff0000;
}

.tze_chiang {
    stroke:#c98671;
}

.tze_chiang_diesel {
    stroke:#ff8000;
}

.emu1200{
    stroke: #ff008c;
	stroke-dasharray:25,5;
}

.emu300{
    stroke:#ff4444;
	stroke-dasharray:25,5;
}

.chu_kuang {
    stroke:#ffcc00;
}

.local {
    stroke:#0000cc;
}

.fu_hsing {
    stroke:#7094db;
}

.ordinary {
    stroke:#000000;
}

.special {
    stroke:#4dff4d;
}